<header class="bg-blue-500 text-white p-4">
  <nav class="flex justify-between">
    <a href="/" class="hover:text-blue-200">Home</a>
    <a href="/dashboard" class="mx-2 hover:text-blue-200">Dashboard</a>
    {{#if loggedIn}}
      <div>

        <button
          id="logout"
          class="block px-4 w-full py-2 hover:bg-slate-50 hover:text-indigo-600"
        >Logout</button>
      </div>
    {{else}}
      <div>
        <a href="/login" class="mx-2 hover:text-blue-200">Login</a>
        <a href="/signup" class="hover:text-blue-200">Sign Up</a>
      </div>
    {{/if}}
  </nav>
  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}
</header>