<header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
    </nav>
</header>
